@page "/products"

<div class="row my-2">

    <h3 class="text-primary">Product List</h3>

    <div class="p-2 m-2">
        <NavLink class="btn btn-primary" href="products/add">Add New</NavLink>
    </div>

    <div class="border p-2 m-2">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th class="text-right">Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Products)
                {
                    var viewLink = "products/view/" + item.ProductId;
                    var editLink = "products/edit/" + item.ProductId;

                    <tr>
                        <td>@(i++)</td>
                        <td>@item.ProductName</td>
                        <td><span class="text-right">@item.ProductPrice.ToString("n2")</span></td>
                        <td>
                            <NavLink class="btn btn-success" href="@(viewLink)">View</NavLink>
                            <NavLink class="btn btn-warning" href="@(editLink)">Edit</NavLink>
                            <button class="btn btn-danger" @onclick="async () => await DeleteItem(item)">Delete</button>
                        </td>
                    </tr>
                }
                @if (!Products.Any())
                {
                    <tr>
                        <td colspan="4" class="text-center">Data not found</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>